h1{
    color:white;
}
h2{
    color:white;
}
h3{
    color:white;
}
a{
    color:white;
}
body{
    background-image: url("images/otherJunk/background.jpg");
    background-color: black;
}
h4{
    color:white;
}
a:hover {color:white};