body
{
    background-color: #300b6b;
    font-family: 'Trebuchet MS', 'sans-serif';
}


footer
{
    position: fixed;
    transform: translate(0px, 140px);
    color: white;
}
.textShit
{
    display: flex;
    color: white;
    font-size: 20px;
    transform: translate(64px, -64px);
    a {
        color: whitesmoke;
        text-decoration: none;
    }
    a:hover {
        color:rgb(0, 208, 255);
    }
}
.textShit > * 
{
    padding: 20px;
}



.videoShit
{
    color:white;
    font-size: larger;
    transform: translateY(100px);
    z-index: -2;
}
.FAQ
{
    color: white;
    transform: translateY(150px);
    z-index: -1;
}
.GamesText
{
    color: white;
    transform: translateY(200px);
    a  
    {
        color: white;
        text-decoration: none;
    }
    a:hover
    {
        color:rgb(0, 208, 255);
    }
}
.teamShit
{
    color: white;
    font-size: larger;
    transform: translateY(100px);
    z-index: -2;
}
.programmerText
{
    transform: translate(200px, -180px);
}
.artistText
{
    transform: translate(200px, -180px);
}
.musicText
{
    transform: translate(200px, -180px);
}
.voiceText
{
    transform: translate(200px, -180px);
}